body {
  background: beige;
  background-image: url(../My\ second\ work/Images/cavarlier.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  height: 200vh;
  color: rgb(130, 95, 76);
  margin: 20mm;
}
h1 {
  text-align: center;
  color: rgb(93, 67, 2);
}

h2 {
  text-align: center;
  color: rgb(192, 134, 64);
}
p {
  margin: 20px;
  line-height: 1.8;
}
