body {
  background: beige;
  background-image: url(../My\ second\ work/Images/cavarlier.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  height: 150vh;
  color: rgb(130, 95, 76);
}
h1 {
  text-align: center;
  color: rgb(93, 67, 2);
  border: 5px solid rgb(155, 135, 114);
  border-radius: 4px;
  width: 600px;
  line-height: 30px;
  margin-left: 10cm;
}

h2 {
  text-align: center;
  color: rgb(192, 134, 64);
}
p {
  line-height: 1.8;
}
